  



<table>
  <tr>
    <th scope="col">Nombre</th>
    <th scope="col">Nacimiento</th>
    <th scope="col">Sexo</th>
    <th scope="col">Foto</th>
    <th scope="col">Origen</th>
  </tr>
  <tr *ngFor="let actor of actores" (click)="seleccionado(actor)" >
    <th>{{actor.Nombre}} {{actor.apellido}}</th>
    <td>{{actor.FechaNacimiento}}</td>
    <td>{{actor.sexo}}</td>
    <td> <img [src]="actor.Foto" width="width: 5%;" > </td>
    
    <td><img [src]="actor.PaisOrigen.flag" style="width: 10%;"> </td>
  </tr>
</table>