<mat-toolbar color="primary">
    <section>
        <span>Primer Parcial</span>
        <!-- <button class="btn nav-link" routerLink="/peliculas/listado">Peliculas</button>
        <button class="btn nav-link" routerLink="/actor/listado">Actores</button> -->
        <button mat-button routerLink="/Bienvenido">Bienvenido</button>
        <button mat-button routerLink="/peliculas/listado">Peliculas</button>
        <button mat-button routerLink="/actor/listado">Actores</button>
        <button mat-button routerLink="/paises/listado">Paises</button>
      <!-- <button mat-button class="logo" (click)="Principal()">
        <img src="/assets/imagenes/logo.png" alt="">
        <span>Sala de Juegos</span>
      </button> -->
      <!-- <button mat-button (click)="Juego('Juegos')">Juegos</button>
      <button mat-button (click)="Juego('Listado')">Listas</button>
      <button mat-button (click)="Juego('Configuracion')">Configuracion</button>
      <button mat-button (click)="Juego('Jugadores')">Jugadores</button>
      <button mat-button (click)="Quien()">Quien Soy?</button> -->
    </section>
</mat-toolbar>